# Copernicus Data Space Ecosystem
COPERNICUS_CLIENT_ID=
COPERNICUS_CLIENT_SECRET=

# Sentinel Hub API endpoints
COPERNICUS_TOKEN_URL=https://identity.dataspace.copernicus.eu/auth/realms/CDSE/protocol/openid-connect/token
COPERNICUS_BASE_URL=https://sh.dataspace.copernicus.eu